---

---

<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/blog_astro/">首页</a>
		<a href="/blog_astro/about/">关于</a>
		<a href="/blog_astro/blog/">博客</a>
		<h1>我的 Astro 学习博客</h1>
		<p>在这里，我将分享我的 Astro 学习之旅。</p>
		<ul>
			<li><a href="/blog_astro/posts/post-1/">文章 1</a></li>
			<li><a href="/blog_astro/posts/post-2/">文章 2</a></li>
			<li><a href="/blog_astro/posts/post-3/">文章 3</a></li>
		</ul>
	</body>
</html>
